@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}


@layer components {
  .hover-transition {
    @apply transition-colors duration-500 ease-out
  }
}